.container {
    display: flex;
    align-items: center;
    flex-direction: column;


    .title-container {
        p {
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;
        }
    }


    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    
        @media (min-width: 768px) {
            flex-direction: row;
        }
    
    
        .input-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            
            @media (min-width: 768px) {
                width: 50%;
                justify-content: end;
            }
            
            input {
                height: 2rem;
                font-size: 1.5rem;
                padding: 5px;
                border-radius: 5px;
                width: 50%;
                max-width: 20rem;
            }
        
            input:focus {
                outline: none;
                border: var(--input-focus-border) 2px solid;
                box-shadow: 0 0 5px var(--input-focus-border), 0 0 5px var(--input-focus-border), 0 0 5px var(--input-focus-border);
            }
        
            svg {
                font-size: 2rem;
                cursor: pointer;
            }
            
        }
        
        
        .conditions-container {
            width: 100%;

            @media (min-width: 768px) {
                width: 50%;
            }
        
            .condition {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
        
        
                svg {
                    color: white;
                    padding: 1rem;
                    border-radius: 999px;
                }
        
        
                p {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }

}





